.App {
  text-align: center;
  height: 90%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #ececec;
  height: 100%;
  padding: 20px;
  margin: 10px 0px;
  color: black;
  position: relative;
}

.barr {
  width: auto;
  position: relative;
  /*animation:rtl 8s linear 2s infinite;; 
  */
}


@keyframes rtl {
from   {background:red; left:60%; top:0px;}

to {background:red; left:-60%; top:0px;}
}
